{% extends 'Stocks/base.html' %}

{% block document_body %}

<h1>Welcome</h1>

<p>
    The aim of this web application is to help you compare your stock predictions with other users.</br></br>
    There are 3 easy steps:</br>
    1) Select a stock form the list</br>
    2) Answer two questions</br>
    3) View results</br></br>
    Click the button below to begin, where you will be asked to login. If you have not got a account, then please register.
</p>
<a class="btn btn-outline-info" href="{% url 'Stocks:SelectStock' %}">Choose Stocks</a>

<!-- <button class="" type="submit">Choose Stock</button>  -->

{% endblock document_body %}